/* Write style sheet here */
select{
    border-radius: 0;
    border: 0;
    background-color: rgb(46, 43, 226);
    color: white;
    width: 10em;
    padding: 5px;
  }
  .gap-1{
    height: 1em;
  }
  .filter-categories{
    padding: 1em;
  }
  .filter-area{
    text-align: center;
    padding: 2em 10em;
  }
  .filter-area table{
    width: 100%;
  }
  .filter-area table thead tr th {
    background-color:rgb(158, 15, 15);
    color: white;
    padding: 0.5em;
  }
  .filter-area table tbody tr {
    text-align: center;
  }
  .filter-area table tbody tr td{
    background-color:burlywood;
    padding: 0.5em 0;
  }